<!DOCTYPE html>
<html lang="en">
<head>
    <title>Totem Logs(Test)</title>
    <script type="text/javascript"
            src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var namespace = '/logs'; // change to an empty string to use the global namespace
        var afterDate = '';
        var ws = null;
        var running = false;
        var maxLines = 1000;
        var interval = 5;

        function disconnect(stop) {
            $('#btn_disconnect').attr('disabled', true);
            $('#btn_start').attr('disabled', false);
            running = false;
            if (stop && ws) {
                ws.close();
            }
            return false;
        }

        function init() {
            ws = new WebSocket('ws://' + document.domain + ':' + location.port + namespace)
            ws.onopen = function (event) {
                fetch();
            };

            ws.onmessage = function(event) {
                var parsedEvent = JSON.parse(event.data);
                switch(parsedEvent.type) {
                    case 'LOGS':
                        var logsPanel = $('#logs');

                        parsedEvent.details.logs.forEach(function (log) {
                            afterDate = log.timestamp || afterDate;
                            logsPanel.append('<pre>' + log.message + '</pre>');
                            var lines = $('#logs pre');
                            if (lines.size() > maxLines) {
                                lines.slice(0, lines.size() - maxLines).remove();
                            }
                            logsPanel.scrollTop(logsPanel.prop('scrollHeight'));
                        });
                        break;

                    case 'FAILED':
                        disconnect(false); //Do not break yet.  Let it go to default

                    default:
                        $('#status').html('<div>' + parsedEvent.description + '</div>');

                }

            };

            ws.onclose = function(event){
                disconnect(false);
            };
        }

        function fetch() {
            msg = JSON.stringify({
                'after-date': afterDate,
                interval: interval,
                'meta-info': {
                    'git': {
                        'owner': $('#scm-owner').val(),
                        'repo': $('#scm-repo').val(),
                        'ref': $('#scm-ref').val()
                    }
                },
                'program-name': $('#program-name').val()
            });
            $('#status').html('<div>' + msg + '</div>');
            ws.send(msg);
        }

        $(document).ready(function () {

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace


            $('#btn_start').click(function (event) {
                if (running) {
                    return;
                }
                init();
                $('#logs').html('');
                $('#btn_disconnect').attr('disabled', false);
                $('#btn_start').attr('disabled', true);
                afterDate = $('#after-date').val();
            });

            $('#btn_disconnect').click(function (event) {
                disconnect(true);
            });

            $('#btn_clear').click(function () {
                $('#logs').html('');
            });


        });
    </script>

    <style>
        #logs {
            overflow-x: hidden;
            overflow-y: visible;
            height: 400px;
            background-color: #b0c4de;
        }

        pre {
            display: block;
            unicode-bidi: embed;
            font-family: monospace;
            margin-top: -1.00em;
            padding: 0;
            margin: 0;
            border: none;

            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }

    </style>
</head>
<body>



<div class="container">
    <div class="row">
        <h4 class="col-sm-offset-5 col-sm-4">Totem Logs</h4>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="scm-owner" class="col-sm-2 control-label">SCM
                Owner:</label>

            <div class="col-sm-2">
                <input id="scm-owner" type="text" placeholder="e.g. totem"
                       class="form-control"/>
            </div>
            <label for="scm-repo" class="col-sm-2 control-label">SCM
                Repository:</label>

            <div class="col-sm-2">
                <input id="scm-repo" type="text"
                       placeholder="e.g. cluster-deployer" class="form-control"/>
            </div>
            <label for="scm-ref" class="col-sm-2 control-label">SCM
                Branch:</label>

            <div class="col-sm-2">
                <input id="scm-ref" type="text" placeholder="e.g. master"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="after-date" class="col-sm-2 control-label">After
                Date:</label>

            <div class="col-sm-2">
                <input id="after-date" type="text"
                       placeholder="e.g. 2015-07-12T00:00:00.0-07:00"
                       class="form-control"/>
            </div>
            <label for="program-name" class="col-sm-2 control-label">Program Name</label>

            <div class="col-sm-4">
                <input id="program-name" type="text"
                       placeholder="Optional (Overrides SCM Info)"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-1">
                <input type="button" id="btn_disconnect" value="Disconnect"
                       disabled="true" class="btn btn-default">
                <input type="button" id="btn_start" value="start"
                       class="btn btn-default">
            </div>
        </div>
    </form>
    <div class="row">
        <input type="button" id="btn_clear" value="Clear" class="col-sm-1 btn btn-default" />
    </div>
    <div class="row" id="logs"></div>
    <div class="row">
        <label class="col-sm-1">Status:</label>
        <div id="status" class="col-sm-11">
        </div>
    </div>
</div>


</body>
</html>