<!DOCTYPE html>
<html lang="en">
<head>
    <title>Totem Logs(Test)</title>
    <script type="text/javascript"
            src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = null;
        var namespace = '/logs'; // change to an empty string to use the global namespace
        var afterDate = '';
        var socket = null;
        var running = false;
        var maxLines = 1000;
        var interval = 5;

        function disconnect(stop) {
            $('#btn_disconnect').attr('disabled', true);
            $('#btn_start').attr('disabled', false);
            running = false;
            if (stop && socket) {
                socket.emit('stop');
            }
            return false;
        }

        function fetch() {
            socket.emit('fetch', {
                'after-date': afterDate,
                interval: interval,
                'meta-info': {
                    'git': {
                        'owner': $('#scm-owner').val(),
                        'repo': $('#scm-repo').val(),
                        'ref': $('#scm-ref').val()
                    }
                },
                'program-name': $('#program-name').val()
            });
        }

        $(document).ready(function () {

            socket = io.connect('http://' + document.domain + ':' + location.port + namespace);


            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            socket.on('connect', function () {
                if (running) {
                    fetch();
                }
            });

            $('#btn_start').click(function (event) {
                running = true;
                $('#logs').html('');
                $('#btn_disconnect').attr('disabled', false);
                $('#btn_start').attr('disabled', true);
                afterDate = $('#after-date').val();
                fetch();
                return false;
            });

            socket.on('status', function (status) {
                console.log(status);
                $('#status').html('<div>' + status.description + '</div>');
                if (status['type'] === 'FAILED') {
                    disconnect(false);
                }
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('logs', function (logs) {
                var logsPanel = $('#logs');

                logs.forEach(function (log) {
                    afterDate = log.timestamp || afterDate;
                    logsPanel.append('<pre>' + log.message + '</pre>');
                    var lines = $('#logs pre');
                    if (lines.size() > maxLines) {
                        lines.slice(0, lines.size() - maxLines).remove();
                    }
                    logsPanel.scrollTop(logsPanel.prop('scrollHeight'));
                });


            });

            $('#btn_disconnect').click(function (event) {
                disconnect(true);
            });

            $('#btn_clear').click(function () {
                $('#logs').html('');
            });


        });
    </script>

    <style>
        #logs {
            overflow-x: hidden;
            overflow-y: visible;
            height: 400px;
            background-color: #b0c4de;
        }

        pre {
            display: block;
            unicode-bidi: embed;
            font-family: monospace;
            margin-top: -1.00em;
            padding: 0;
            margin: 0;
            border: none;

            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }

    </style>
</head>
<body>



<div class="container">
    <div class="row">
        <h4 class="col-sm-offset-5 col-sm-4">Totem Logs</h4>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="scm-owner" class="col-sm-2 control-label">SCM
                Owner:</label>

            <div class="col-sm-2">
                <input id="scm-owner" type="text" placeholder="e.g. totem"
                       class="form-control"/>
            </div>
            <label for="scm-repo" class="col-sm-2 control-label">SCM
                Repository:</label>

            <div class="col-sm-2">
                <input id="scm-repo" type="text"
                       placeholder="e.g. cluster-deployer" class="form-control"/>
            </div>
            <label for="scm-ref" class="col-sm-2 control-label">SCM
                Branch:</label>

            <div class="col-sm-2">
                <input id="scm-ref" type="text" placeholder="e.g. master"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="after-date" class="col-sm-2 control-label">After
                Date:</label>

            <div class="col-sm-2">
                <input id="after-date" type="text"
                       placeholder="e.g. 2015-07-12T00:00:00.0-07:00"
                       class="form-control"/>
            </div>
            <label for="program-name" class="col-sm-2 control-label">Program Name</label>

            <div class="col-sm-4">
                <input id="program-name" type="text"
                       placeholder="Optional (Overrides SCM Info)"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-1">
                <input type="button" id="btn_disconnect" value="Disconnect"
                       disabled="true" class="btn btn-default">
                <input type="button" id="btn_start" value="start"
                       class="btn btn-default">
            </div>
        </div>
    </form>
    <div class="row">
        <input type="button" id="btn_clear" value="Clear" class="col-sm-1 btn btn-default" />
    </div>
    <div class="row" id="logs"></div>
    <div class="row">
        <label class="col-sm-1">Status:</label>
        <div id="status" class="col-sm-11">
        </div>
    </div>
</div>


</body>
</html>